body{
	background-color:#292828;
	line-height: 1.875;
}

nav a:hover{
	color: #d6d659 !important;
}

span .navbar-toggler-icon{
	color:#FFFFFF !important;
}

.fixed-top{
	background-color: #232323;

}

.navbar-brand{
	color:#FFFFFF;
	margin-left:50px;
}

.navbar-nav{
	margin-top:20px;
	margin-bottom:20px;
}

ul li a:hover{
color: #d6d659 !important;

}

ul li .home{
	color: #FFFFFF;
	margin-right: 50px;
}
 

ul li .project{
	color: #FFFFFF;
	margin-right: 50px;
	solid:1px;
}

ul li .contact{
	color: #FFFFFF;
	margin-right: 10px;
}

h3{
	font-size: 1.875rem;
}

h2{
	font-size: 2.875rem;
	color: #FFFFFF;
}

row{
	margin-bottom: 30px;
}

.box-left{
 	font-family: Kanit,sans-serif;
    line-height: 1.3;
    padding: 0;
    margin:0;
}

.heading-title{
	color: #079211;
}

p{
	font-family: Roboto,sans-serif;
    letter-spacing: 0;
	color: #bfbfbf;
	font-weight: 400;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.box-right{
	width: 100%;

}

.btn-green{
	background-color: #079211;
	border: 1px solid #079211;
    border-radius: 3px;

    font-family: Roboto,sans-serif;
    padding: 1em 2em;
    font-size: 14px;
    font-weight: 500;
}